<div>
  <div *ngIf="person.image !== ''" class="image">
    <img [src]="person.image" title="person.name.content" alt="person.name.content" />
  </div>
  <div class="attributes">
    <gmt-information [info]="person.birthdate"></gmt-information>
    <gmt-information [info]="person.deathdate"></gmt-information>
    <gmt-information [info]="person.profession"></gmt-information>
    <gmt-information [info]="person.race"></gmt-information>
  </div>
  
  <div class="information">
    <gmt-information *ngFor="let info of person.information" [info]="info"></gmt-information>
  </div>
</div>