article{
  background: rgb(255,255,255);
  border: 2px solid rgb(127,127,127);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  position: relative;
  
  &:before {
    background: rgb(127,127,127);
    border-radius: 5px 5px 0 0;
    content: '';
    height: 5px;
    margin-right: -5px;
    position: absolute;
    right: 50%;
    top: -5px;
    width: 10px;
  }
    
  header {
    background: rgb(127,127,127);
    border-radius: 15px 15px 0 0;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    
    h2 {
      font-size: 16px;
      margin: 0;
    }
    
    .entity-type {
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }
  
  .content {
    border-radius: 0 0 20px 20px;
    padding: 20px;
  }
}