@import './variables';
@import './mixins';

html {
  font-size: 10px;
}

html,body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

input {
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.container {
  display: flex;
  justify-content: space-between;
}