@import './variables';
@import './mixins';

html,body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
}