<div>
  <div *ngIf="person.image && person.image !== ''" class="image">
    <img [src]="person.image" title="person.name.content" alt="person.name.content" />
  </div>
  <div class="attributes">
    <gmt-information [info]="person.birthdate" *ngIf="person.birthdate" (changed)="onChanged($event, 'birthdate')"></gmt-information>
    <gmt-information [info]="person.deathdate" *ngIf="person.deathdate" (changed)="onChanged($event, 'deathdate')"></gmt-information>
    <gmt-information [info]="person.profession" *ngIf="person.profession" (changed)="onChanged($event, 'profession')"></gmt-information>
    <gmt-information [info]="person.race" *ngIf="person.race" (changed)="onChanged($event, 'race')"></gmt-information>
  </div>
  
  <div class="information">
    <gmt-information-list [information]="person.information"></gmt-information-list>
  </div>
</div>