.content {
  &:hover {
    border: 1px solid rgb(197,197,197);
    cursor: pointer;
  }
}

.label {
  display: inline-block;
  font-weight: bold;
  width: 33%;
}

.label + .content {
  display: inline-block;
  width: 66%;
}